@font-face {
  font-family: 'Montserrat 900';
  src: url('/assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat 500';
  src: url('/assets/fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSans 400';
  src: url('/assets/fonts/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSans 800';
  src: url('/assets/fonts/NotoSans-Bold.ttf') format('truetype');
}
