
@mixin theme-light {
  --bg-darker: #cccccc;
  --bg-dark: #f2f2f2;
  --bg-light: #fafafa;
  --bg-lighter: #ffffff;
  --color-green: #77b255;
  --color-green20: #77b25520;
  --color-green40: #77b25540;
  --color-greenH: #609740;
  --color-green20S: #eef5ea;
  --color-yellow: #ffac33;
  --color-yellow20: #ffda3320;
  --color-yellow40: #ffda3354;
  --color-blue: #375aa5;
  --color-blue20: #375aa52f;
  --color-blue40: #375aa556;
  --color-red: #ec3960;
  --color-red20: #ec396020;
  --color-redH: #961f39;
  --color-placeholders: #00000055;
  --color-minor: #585858;
  --color-sub: #3f3f3f;
  --color-regular: #141414;
  --color-major: #080808;
  --color-header: #000000;
}

@mixin theme-dark {
  /* DARK THEME TODO */
  --bg-darker: #60656e;
  --bg-dark: #323234;
  --bg-light: #1b1b1c;
  --bg-lighter: #101010;
  --color-green: #77b255;
  --color-green20: #77b25520;
  --color-green40: #77b25540;
  --color-greenH: #609740;
  --color-green20S: #1d2419;
  --color-yellow: #ffac33;
  --color-yellow20: #ffda3320;
  --color-yellow40: #ffda3354;
  --color-blue: #587bc5;
  --color-blue20: #587bc52f;
  --color-blue40: #587bc556;
  --color-red: #ec3960;
  --color-red20: #ec396020;
  --color-redH: #961f39;
  --color-placeholders: #ffffff55;
  --color-minor: #8a8b8f;
  --color-sub: #c1c2c7;
  --color-regular: #e1e1e1;
  --color-major: #f7f7f7;
  --color-header: #ffffff;
}

//// COLORS

// backgrounds
$bg-darker: var(--bg-darker);
$bg-dark: var(--bg-dark);
$bg-light: var(--bg-light);
$bg-lighter: var(--bg-lighter);

// theme
$color-green: var(--color-green);
$color-green20: var(--color-green20);
$color-green40: var(--color-green40);
$color-greenH: var(--color-greenH);
$color-green20S: var(--color-green20S);
$color-yellow: var(--color-yellow);
$color-yellow20: var(--color-yellow20);
$color-yellow40: var(--color-yellow40);
$color-blue: var(--color-blue);
$color-blue20: var(--color-blue20);
$color-blue40: var(--color-blue40);
$color-red: var(--color-red);
$color-red20: var(--color-red20);
$color-redH: var(--color-redH);
$color-placeholders: var(--color-placeholders);
$color-minor: var(--color-minor);
$color-sub: var(--color-sub);
$color-regular: var(--color-regular);
$color-major: var(--color-major);
$color-header: var(--color-header);

//// FONTS

$font-header: 'Montserrat 900', 'Roboto', sans-serif;
$font-major: 'NotoSans 800', 'Roboto', sans-serif;
// $font-major: 'Montserrat 800', 'Roboto', sans-serif;
$font-regular: 'NotoSans 400', 'Roboto', sans-serif;
// $font-regular: 'Lato 400', 'Roboto', sans-serif;
// $font-regular: 'Ubuntu 400', 'Roboto', sans-serif;
// $font-regular: 'Montserrat 500', 'Roboto', sans-serif;
$font-minor: 'Montserrat 500', 'Roboto', sans-serif;
$font-mono: 'SpaceMono 400', monospace;
$font-mono-bold: 'SpaceMono 700', monospace;

//

// $max-content-width: 350pt;

$global-header-height: 38pt;

$main-content-padding: 12pt;

$card-item-br: 4pt;

$menu-item-margin: 5pt;
$menu-item-padding: 10pt;
$menu-item-br: 8pt;
$menu-item-inner-height: 15pt;
$menu-item-outer-height: $menu-item-inner-height + 2*$menu-item-padding;

// $container-padding: var(--container-padding);

$content-pills-height: 28pt;

$desktop-max-content-width: 400pt;
