
//// COLORS

// backgrounds
$bg-darker: var(--bg-darker);
$bg-dark: var(--bg-dark);
$bg-light: var(--bg-light);
$bg-lighter: var(--bg-lighter);

// theme
$color-green: var(--color-green);
$color-green20: var(--color-green20);
$color-green40: var(--color-green40);
$color-green60: var(--color-green60);
$color-greenH: var(--color-greenH);
$color-green20S: var(--color-green20S);
$color-yellow: var(--color-yellow);
$color-yellow20: var(--color-yellow20);
$color-yellow40: var(--color-yellow40);
$color-yellow60: var(--color-yellow60);
$color-blue: var(--color-blue);
$color-blue20: var(--color-blue20);
$color-blue40: var(--color-blue40);
$color-red: var(--color-red);
$color-red20: var(--color-red20);
$color-redH: var(--color-redH);
$color-placeholders: var(--color-placeholders);
$color-minor: var(--color-minor);
$color-sub: var(--color-sub);
$color-regular: var(--color-regular);
$color-major: var(--color-major);
$color-header: var(--color-header);

//// FONTS

$font-header: 'Montserrat 900', 'Roboto', sans-serif;
$font-major: 'NotoSans 800', 'Roboto', sans-serif;
// $font-major: 'Montserrat 800', 'Roboto', sans-serif;
$font-regular: 'NotoSans 400', 'Roboto', sans-serif;
// $font-regular: 'Lato 400', 'Roboto', sans-serif;
// $font-regular: 'Ubuntu 400', 'Roboto', sans-serif;
// $font-regular: 'Montserrat 500', 'Roboto', sans-serif;
$font-minor: 'Montserrat 500', 'Roboto', sans-serif;
$font-mono: 'SpaceMono 400', monospace;
$font-mono-bold: 'SpaceMono 700', monospace;

//

// $max-content-width: 350pt;

$global-header-height: 38pt;

$main-content-padding: 12pt;

$card-item-br: 4pt;
$dish-tag-br: 2pt;

$menu-item-margin: 5pt;
$menu-item-padding: 10pt;
$menu-item-br: 8pt;
$menu-item-inner-height: 15pt;
$menu-item-outer-height: $menu-item-inner-height + 2*$menu-item-padding;

// $container-padding: var(--container-padding);

$content-pills-height: 28pt;

$desktop-max-content-width: 400pt;
